# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode de tes morts
.vscode/

# SUPPRESS THE TERRORISTS
ex0*/**
!ex0*/*.cpp
!ex0*/*.hpp
!ex0*/Makefile
